<!-- MODAL ENTITY , Create, Update -->
<div class="modal fade" id="modal-entity" tabindex="-1" aria-labelledby="modal-entity label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="modal-entity" data-keyboard="false" data-backdrop="static"
     role="dialog" aria-labelledby="modal-entity label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content border-modal-content"></div>
  </div>
</div> -->