
<li class="nav-group">
  <a class="nav-link nav-group-toggle" href="#">
    <svg class="nav-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <title>users</title>
      <path d="M12 12c2.761 0 5-2.239 5-5s-2.239-5-5-5-5 2.239-5 5 2.239 5 5 5z"></path>
      <path d="M12 14c-5 0-9 2.5-9 5v3h18v-3c0-2.5-4-5-9-5z"></path>
    </svg>
    Gestion du Personnel
  </a>
  <ul class="nav-group-items compact">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'staff:employe_list' %}">
        <span class="nav-icon"><span class="nav-icon-bullet"></span></span>
        Employés
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'staff:planning_list' %}">
        <span class="nav-icon"><span class="nav-icon-bullet"></span></span>
        Planning
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <span class="nav-icon"><span class="nav-icon-bullet"></span></span>
        Pointages
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <span class="nav-icon"><span class="nav-icon-bullet"></span></span>
        Congés & Absences
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <span class="nav-icon"><span class="nav-icon-bullet"></span></span>
        Évaluations
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <span class="nav-icon"><span class="nav-icon-bullet"></span></span>
        Incidents & Sanctions
      </a>
    </li>
  </ul>
</li>

