<!-- includes/sidebar_gouvernante.html -->

<li class="nav-item">
  <a class="nav-link" href="{% url 'typography' %}">
    <svg class="nav-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <title>room</title>
      <path d="M20.625 19.875v-15.75h-4.125v-3.515l-12.375 2.134v17.132h-3.375v1.5h4.074l11.676 1.611v-17.361h2.625v15.75h4.125v-1.5zM15 21.264l-9.375-1.293v-15.965l9.375-1.616z"></path>
      <path d="M12 10.875h1.5v3h-1.5v-3z"></path>
    </svg>
    Chambres
  </a>
</li>


<li class="nav-group">
  <a class="nav-link nav-group-toggle" href="#">
    <svg class="nav-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <title>industry</title>
      <path d="M21.528 4.5l-6.153 6.080v-6.080h-1.618l-5.882 5.966v-9.716h-7.125v22.5h22.5v-18.75zM21.75 21.75h-19.5v-19.5h4.125v10.125h1.724l5.776-5.859v5.859h1.817l6.058-5.986z"></path>
      <path d="M6.375 15.375v0.375h1.5v-1.5h-1.5v1.125z"></path>
      <path d="M6.375 17.625h1.5v1.5h-1.5v-1.5z"></path>
      <path d="M10.125 15.375v0.375h1.5v-1.5h-1.5v1.125z"></path>
      <path d="M10.125 17.625h1.5v1.5h-1.5v-1.5z"></path>
      <path d="M13.875 15.375v0.375h1.5v-1.5h-1.5v1.125z"></path>
      <path d="M13.875 17.625h1.5v1.5h-1.5v-1.5z"></path>
      <path d="M17.625 14.25h1.5v1.5h-1.5v-1.5z"></path>
      <path d="M17.625 17.625h1.5v1.5h-1.5v-1.5z"></path>
    </svg>
    Inventaire / Stock
  </a>
  <ul class="nav-group-items compact">
    <li class="nav-item"><a class="nav-link" href="">Produits</a></li>
    <li class="nav-item"><a class="nav-link" href="">Mouvement</a></li>
    <li class="nav-item"><a class="nav-link" href="">Demande de réappro</a></li>
    <li class="nav-item"><a class="nav-link" href="">Alertes</a></li>
    <li class="nav-item"><a class="nav-link" href="">Inventaire physique</a></li>
    <li class="nav-item"><a class="nav-link" href="">Signalements</a></li>
    <li class="nav-item"><a class="nav-link" href="">Dotation</a></li>
  </ul>
</li>
