
{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
  {% if is_manager %}
    <title>Accueil Manager</title>
    {% include 'includes/home_manager.html' %}
  {% elif is_receptionniste %}
    <title>Accueil Réceptionniste</title>
    {% include 'includes/home_receptionniste.html' %}
  {% elif is_comptable %}
    <title>Accueil Comptable</title>
    {% include 'includes/home_comptable.html' %}
  {% elif is_resto_staff %}
    <title>Accueil Resto / Bar</title>
    {% include 'includes/home_resto_staff.html' %}
  {% elif is_bar_staff %}
    <title>Accueil Resto / Bar</title>
    {% include 'includes/home_bar_staff.html' %}
  {% elif is_gouvernante %}
    <title>Accueil Gouvernante</title>
    {% include 'includes/home_gouvernante.html' %}
  {% elif is_menage %}
    <title>Accueil Ménage</title>
    {% include 'includes/home_menage.html' %}
  {% elif is_ressource_humaine %}
    <title>Accueil Ressource Humaine</title>
    {% include 'includes/home_ressource_humaine.html' %}
  {% endif %}
{% endblock content %}


{% block extra_js %}
  <script src="
https://cdn.jsdelivr.net/npm/@coreui/icons@3.0.1/dist/cjs/index.min.js
"></script>
{% endblock extra_js %}