<form method="post" action="{% url 'clients:client_create' %}" class="js-entity-create-form">
    {% csrf_token %}
    <div class="modal-header bg-primary text-white">
        <h5 class="modal-title"><i class="fa fa-plus"></i> Créer un Nouveau Client</h5>
        <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {% include 'clients/client_form.html' %}
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i> Créer le Client
        </button>
    </div>
</form>





