<!-- Modal pour création d'employé -->
<form method="post" action="{% url 'staff:employe_create' %}" class="js-entity-create-form">
    {% csrf_token %}
    <div class="modal-header bg-primary">
        <h5 class="modal-title" id="exampleModalCenterTitle"><i class="fas fa-plus"></i> Créer un Nouvel Employé</h5>
        <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {% include 'staff/employe_form.html' %}
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal">Annuler</button>
        <button class="btn btn-primary" type="submit">Créer l'Employé</button>
    </div>
</form>
