
<div class="row">
    <div class="col-md-6">
        {{ form.nom.label_tag }} {{ form.nom }}
        {{ form.prenom.label_tag }} {{ form.prenom }}
        {{ form.date_naissance.label_tag }} {{ form.date_naissance }}
        {{ form.lieu_naissance.label_tag }} {{ form.lieu_naissance }}
        {{ form.nationalite.label_tag }} {{ form.nationalite }}
        {{ form.etat_civil.label_tag }} {{ form.etat_civil }}
        {{ form.adresse.label_tag }} {{ form.adresse }}
        {{ form.ville.label_tag }} {{ form.ville }}
        {{ form.pays.label_tag }} {{ form.pays }}
    </div>
    <div class="col-md-6">
        {{ form.phone.label_tag }} {{ form.phone }}
        {{ form.email.label_tag }} {{ form.email }}
        {{ form.poste.label_tag }} {{ form.poste }}
        {{ form.departement.label_tag }} {{ form.departement }}
        {{ form.date_embauche.label_tag }} {{ form.date_embauche }}
        {{ form.salaire.label_tag }} {{ form.salaire }}
        {{ form.cv.label_tag }} {{ form.cv }}
        {{ form.contrat.label_tag }} {{ form.contrat }}
        {{ form.photo.label_tag }} {{ form.photo }}
        <hr>
        <h5>Contact d'urgence</h5>
        {{ form.contact_urgence_nom.label_tag }} {{ form.contact_urgence_nom }}
        {{ form.contact_urgence_phone.label_tag }} {{ form.contact_urgence_phone }}
        {{ form.contact_urgence_relation.label_tag }} {{ form.contact_urgence_relation }}
    </div>
</div>